:root {
    --main-color: #212121;
    --logo-color: #000000;
    --phone-color: #757575;
    --primary-color: #ffffff;
    --accent-color: #2196f3;
    --hero-color: #2f303a;
    --adress-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto', 'Times New Roman', 'Verdana', 'Tahoma', sans-serif;
    background-color: var(--primary-color);
    color: var(--main-color);
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo>.primary {
    color: var(--accent-color);
}

.logo>.secondary {
    color: var(--logo-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.button {
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}

/* site nav */

.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.contacts-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--phone-color);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-color)
}

/* Hero */

.hero {
    color: var(--primary-color);
    background-color: var(--hero-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.hero .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

 /* benefits */

.benefits .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--phone-color);
}

/* activity */

.activity>.title, .team>.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* team */

.member>.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.member>.post {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--phone-color);
}

/* footer */

.footer {
    background-color: var(--hero-color);
}

.secondary.white {
    color: var(--primary-color);
}

.contacts .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-color);
}

.link.address {
    color: var(--primary-color);
}

/* portfolio */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.examples .button {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;

}

.examples .button:hover,
.examples .button:focus {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.examples .projects {
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.examples .category {
    font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--phone-color);
} 